
html {
    font-size: .85rem;
}

a  {
    text-decoration: none !important;
}

tr:nth-child(even) {
    background-color: lightgray;
  }


  .fas.fa-plus {
      cursor: pointer;
  }


  ::placeholder {
    color: white !important;
  }
  header {
    display:flex;
    justify-content: flex-end;
}
.btn{
  
    background-color:#446FA0;
    opacity: 0.5;
}
