:root{
    --grey : #51555B;
    --dark-blue: #223C60;
    --light-blue: #446FA0;
    --white: #D6DDE0;
}

html{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

/* Renkler-- */

.bg-color-white{
    background-color: var(--white);
}

.bg-color-dark-blue{
    background-color: var(--dark-blue);
}

/* scroll için-- */
nav.bg-color-dark-blue{
    background-color: rgba(33, 59, 94,0.7) !important;
    transition: .75s ease;
}

nav.bg-color-dark-blue.scrolled{
    background-color: rgba(33, 59, 94,0.4) !important;
    transition: .75s ease;
}
/* --scroll için */
.bg-color-light-blue{
    background-color: var(--light-blue);
}

.bg-color-grey{
    background-color: var(--grey);
}

.color-white{
    color: var(--white);
}

.color-dark-blue{
    color: var(--dark-blue);
}

.color-light-blue{
    color: var(--light-blue);
}

.color-grey{
    color: var(--grey);
}

/* --Renkler */

/* Media Query */
@media screen and (min-width: 1200px){
    #aboutText,nav div ul li a{
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1201px) {
    #aboutText,nav div ul li a{
        font-size: 1rem;
    }
}

@media screen and (max-width: 991px) {
    #aboutText,nav div ul li a{
        font-size: .75rem;
    }
}

@media screen and (max-width: 600px) {
    #aboutText,nav div ul li a{
        font-size: .65rem;
        font-weight: 600;
    }
}

@media screen and (max-width: 640px) {
    .carousel-box{
        width: 100% !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
        border-radius: 0px 0px !important;
    } 
}

/* Media Query */

nav div ul li a{
    border-radius: 5px;
    color: var(--white) !important;
    text-align: center;
    /* font-size: 2vw; */
    transition: background-color .75s;
}

nav div ul li a:hover{
    background-color: #1e3557;
}

#navbarSupport{
    transition: .75s ease;
}

.centered{
    top: 30%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

/* .show{
    background-color: transparent;
} */


/* toggle button için */
.navbar-toggler span {
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 0;
    opacity: 1;
    transition: all 0.2s ease-out;
    transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg) ;
}

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg) ;
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg) ;
}

/* toggle button için */

/* animasyon */
#home .animated{
    animation-name: homeAnimation;
    animation-duration: 1.5s;  
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes homeAnimation {
    from {
        top: 60%;
        color: transparent;
        text-shadow: none;
    }
    to {
        top: 40%;
        left: 50%;
        width: 80%;
        transform: translate(-50%, -50%);
        transition: 1.5s ease-out;
    }
  }
/* animasyon */

/* section border */

.bordered-section{
    width: fit-content;
    height: fit-content;
    margin: 50px auto;
    border-bottom: 1px solid var(--dark-blue);
}

/* section border */ 

/* carousel */

.carousel-box{
    top: 50%;
    left: 50%;
    height: 35%;
    border-radius: 30px 0 30px 0;
  
}

.carousel-text{
    color: var(--white);
    text-align: center;
    /* text-indent: 3vw; */
}

.carousel-text p{
    height: 7.5rem;
}

.carousel-item img{
    border-radius: 50%;
}

.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}

/* carousel */

/* image gallery */  

  .overlay {
    bottom: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0,0.4);
  }
  
  .overlay-text {
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .container .row .flex-column a .position-relative:hover .overlay{
    opacity: 1;
  }
/* image gallery */